<div
  class="slot"
  [class.filled]="!!champion()"
  (click)="openSearch()"
  [attr.aria-label]="champion() ? 'Banned: ' + champion()!.name : 'Add ban'"
  role="button"
  tabindex="0"
  (keydown.enter)="openSearch()"
  (keydown.space)="openSearch()"
>
  @if (champion(); as c) {
    <img [src]="c.image" [alt]="c.name" class="champion-img" />
    <div class="ban-overlay" aria-hidden="true"></div>
  } @else {
    <span class="add-icon" aria-hidden="true">+</span>
  }
</div>

@if (isSearchOpen()) {
  <app-champion-search
    [excludeIds]="excludeIds()"
    (championSelected)="onChampionSelected($event)"
    (closed)="closeSearch()"
  />
}
